


.header{
	border-right-style: none; 
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}



.table{
	border: 1px solid;
	border-right-style: solid; 
	border-left-style: solid;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #000000;
}


#nav {
    border: 1px solid;
	border-right-style: none; 
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: none;
	border-color: #6D83B8;
	background-color: #6D83B8;
	font-family: verdana; 
	font-size: 10pt;
	color: #ffffff;
	
}



#nav div.top {
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 8px;

    width: 100%;
}




#nav div.section {
	
	width: 140px;
    position: absolute;
    display: inline;
	z-index: -1;
}



#nav div.box {
    background-color: #153B9C;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    border-color: #ffffff;
    border-width: 1px;
    border-style: none solid solid solid;

    position: relative;
    visibility: hidden;
    width: 100%;
}



#nav a:link{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
#nav a:active{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
#nav a:visited{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
#nav a:hover{color: #FF5E1F; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}






.theader{
	border-right-style: none; 
	border-left-style: none;
	border-bottom-style: none;
	border-top-style: solid;
	color: #FFFFFF;
	font-family: verdana; 
	font-size: 10pt;
	font-weight: bold;
	border-color: 153B9C; 
	background-color: 153B9C;
}


.tminicalendar{
	border: 1px solid;
	border-right-style: solid; 
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0px;
    padding-right: 0px;
	border-color: #EBEDF1;
	background-color: EBEDF1;
}




.tyearcalheader {
	border-right-style: none; 
	border-left-style: none;
	border-bottom-style: none;
	border-top-style: solid;
	color: #FFFFFF;
	font-family: verdana; 
	font-size: 10pt;
	font-weight: bold;
	border-color: 6D83B8; 
	background-color: 6D83B8;

}


.tdatecell{
	border: 1px solid;
	border-right-style: solid; 
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
	width: 20px;
	height: 20px;
	border-color: #EBEDF1;
	background-color: EBEDF1;
}

.teventcell {
	border: 1px solid;
	border-right-style: solid; 
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
	width: 20px;
	height: 20px;
	border-color: #C0CFE8;
	background-color: C0CFE8;
}



.ttodaycell {
	border: 1px solid;
	border-right-style: solid; 
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 0px;
	width: 20px;
	height: 20px;
	border-color: #B2D4F4;
	background-color: B2D4F4;
}




.monthemptycell {

	border: 1px solid;
	border-right-style: solid; 
	border-left-style: none;
	border-bottom-style:solid;
	border-top-style: none;
	padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
	width: 106px;
	height: 100px;
	border-color: 747D8E; 
	background-color: 747D8E;

}



.monthdatecell{
	border: 1px solid;
	border-right-style: solid; 
	border-left-style: none;
	border-bottom-style:solid;
	border-top-style: none;
	padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 0px;
	width: 106px;
	height: 100px;
	border-color: #000000;
	background-color: EBEDF1;
}

.montheventcell {
	border: 1px solid;
	border-right-style: solid; 
	border-left-style: none;
	border-bottom-style:solid;
	border-top-style: none;
	padding-top: 4px;
    padding-bottom: 0px;
    padding-left: 2px;
    padding-right: 0px;
	width: 106px;
	height: 100px;
	border-color: #000000;
	background-color: C0CFE8;
}



.monthtodaycell {
	border: 1px solid;
	border-right-style: solid; 
	border-left-style: none;
	border-bottom-style:solid;
	border-top-style: none;
	padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
	width: 106px;
	height: 100px;
	border-color: #000000;
	background-color: B2D4F4;
}



.tablebody {
	
	font-family: verdana; 
	border-right-style: none; 
	border-left-style: none;
	border-top-style: solid;
	border-color: #FFFFFF;
	background-color: #ffffff;

}




.tyearbox {
	border: 1px solid;
	border-right-style: solid; 
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	border-color: #FFFFFF;
	background-color: FFFFFF;
}



.eventheader{
	border: 1px solid;
	font-family: verdana; 
	font-size: 8pt;
	border-right-style: none; 
	border-left-style: none;
	border-top-style: none;
	border-bottom-style: solid;
	border-color: #FFFFFF;
	color: ffffff;
	background-color: #6D83B8;
}



.listingheader{
	border: 1px solid;
	font-family: verdana; 
	font-size: 8pt;
	border-right-style: solid; 
	border-left-style: none;
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #FFFFFF;
	color: ffffff;
	background-color: #6D83B8;
}


.listingcell{
	border: 1px solid;
	border-right-style: none; 
	border-left-style: solid;
	border-top-style: solid;
	border-color: #FFFFFF;
	background-color: #EBEDF1;
}



.tevents1{
	border: 1px solid;
	border-right-style: none; 
	border-left-style: none;
	border-top-style: solid;
	border-color: #FFFFFF;
	background-color: #EBEDF1;
}


.hrbar {
	color: #153B9C;
}


.selectbox{
	border: 1px solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	font-family: verdana; 
	font-size: 8pt;
	width: 180;
}


.subheader{
	font-family: verdana; 
	font-size: 10pt;
	font-weight: bold;
	color: #000000;
}


.bigtext{
	font-family: verdana; 
	font-size: 13pt;
	color: #000000;
}

.midtext{
	font-family: verdana; 
	font-size: 10pt;
	color: #000000;
}


.basictext{
	font-family: verdana; 
	font-size: 8pt;
}


.littletext{
	font-family: verdana; 
	font-size: 8pt;
}

.tinytext{
	font-family: verdana; 
	font-size: 6pt;
}



.errortext{
	font-family: verdana; 
	font-size: 9pt; 
	color: #FF0000;
}


.textbox{
	font-family: verdana; 
	font-size: 8pt; 
	background-color: #ffffff; 
	color: #000000;
}


.buttons{
	
}



a.navlink:link{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
a.navlink:active{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
a.navlink:visited{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
a.navlink:hover{color: #FF5E1F; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}

a.listinglink:link{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
a.listinglink:active{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
a.listinglink:visited{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
a.listinglink:hover{color: #FF5E1F; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}

a.orderbylink:link{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold; text-decoration: underline;}
a.orderbylink:active{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold; text-decoration: underline;}
a.orderbylink:visited{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold; text-decoration: underline;}
a.orderbylink:hover{color: #FF5E1F; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold; text-decoration: underline;}

a.basiclink:link{color: #153B9C; font-family: verdana; font-size: 10pt; text-decoration: none; font-weight: bold;}
a.basiclink:active{color: #153B9C; font-family: verdana; font-size: 10pt; text-decoration: none; font-weight: bold;}
a.basiclink:visited{color: #153B9C; font-family: verdana; font-size: 10pt; text-decoration: none; font-weight: bold;}
a.basiclink:hover{color: #FF5E1F; font-family: verdana; font-size: 10pt; text-decoration: none; font-weight: bold;}

a.smalllink:link{color: #153B9C; font-family: verdana; font-size:8pt; text-decoration: underline; font-weight: bold;}
a.smalllink:active{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: underline; font-weight: bold;}
a.smalllink:visited{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: underline; font-weight: bold;}
a.smalllink:hover{color: #FF5E1F; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}


a.editlink:link{color: #153B9C; font-family: verdana; font-size:8pt; text-decoration: none;}
a.editlink:active{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: none;}
a.editlink:visited{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: none;}
a.editlink:hover{color: #FF5E1F; font-family: verdana; font-size: 8pt; text-decoration: underline;}


a.eventaddlink:link{color: #EBEDF1; font-family: san-serrif; font-size:8pt; text-decoration: underline; font-weight: bold;}
a.eventaddlink:active{color: #EBEDF1; font-family: san-serrif; font-size: 8pt; text-decoration: underline; font-weight: bold;}
a.eventaddlink:visited{color: #EBEDF1; font-family: san-serrif; font-size: 8pt; text-decoration: underline; font-weight: bold;}
a.eventaddlink:hover{color: #FF5E1F; font-family: san-serrif; font-size: 8pt; text-decoration: none; font-weight: bold;}


a.datelink:link{color: #000000; font-family: verdana; font-size: 8pt; text-decoration: none;}
a.datelink:active{color: #000000; font-family: verdana; font-size: 8pt; text-decoration: none;}
a.datelink:visited{color: #000000; font-family: verdana; font-size: 8pt; text-decoration: none;}
a.datelink:hover{color: #000000; font-family: verdana; font-size: 8pt; text-decoration: underline;}


a.todaylink:link{color: #000000; font-family: verdana; font-size: 8pt; text-decoration: none;}
a.todaylink:active{color: #000000; font-family: verdana; font-size: 8pt; text-decoration: none;}
a.todaylink:visited{color: #000000; font-family: verdana; font-size: 8pt; text-decoration: none;}
a.todaylink:hover{color: #000000; font-family: verdana; font-size: 8pt; text-decoration: underline;}


a.eventlink:link{color: #000000; font-family: verdana; font-size: 8pt; text-decoration: none;}
a.eventlink:active{color: #000000; font-family: verdana; font-size: 8pt; text-decoration: none;}
a.eventlink:visited{color: #000000; font-family: verdana; font-size: 8pt; text-decoration: none;}
a.eventlink:hover{color: #000000; font-family: verdana; font-size: 8pt; text-decoration: underline;}


a.tableheaderlink:link{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
a.tableheaderlink:active{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
a.tableheaderlink:visited{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
a.tableheaderlink:hover{color: #ffffff; font-family: verdana; font-size: 8pt; text-decoration: underline; font-weight: bold;}

a.monthviewlink:link{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
a.monthviewlink:active{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
a.monthviewlink:visited{color: #153B9C; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}
a.monthviewlink:hover{color: #FF5E1F; font-family: verdana; font-size: 8pt; text-decoration: none; font-weight: bold;}


a.categorylink:link{color: #ffffff; font-family: verdana; font-size: 10pt; text-decoration: none; font-weight: bold;}
a.categorylink:active{color: #ffffff; font-family: verdana; font-size: 10pt; text-decoration: none; font-weight: bold;}
a.categorylink:visited{color: #ffffff; font-family: verdana; font-size: 10pt; text-decoration: none; font-weight: bold;}
a.categorylink:hover{color: #FF5E1F; font-family: verdana; font-size: 10pt; text-decoration: underline; font-weight: bold;}